<section class="home-page">
  <nav class="discover-nav">
    <div class="user-info">
        <div class="user-image-wrapper">
            <img src="{{user.imageUrl}}"  alt="user-pic">
        </div>
        <a href="/myprofile" class="user-link">{{user.username}}</a>
        <div class="my-snippets resp"><a href="/home">Snippets</a></div>
        <div class="find-friends resp"><a href="/find-friends">Friends</a></div>
        <div class="discover resp"><a href="/discover">Discover</a></div>

    </div>
    <div class="snippet-search-bar">
      <form class="search-snippet-form" method="GET" action="/home">
        <input type="text" name="search" placeholder="Search snippets">
        <button id="search-snippet-button" type="submit"><i class="fas fa-search"></i></button>
      </form>
        {{#if searcherr}}
            <p class="error">{{searcherr}}</p>
        {{/if}}
    </div>


    <div class="logo-wrapper">
      <p class="logout">Logout</p> 
      <a href="/logout"><img src="/images/exit_PNG48.png" width="30px" height="30px"  alt="Logout"></a>
    </div>
  </nav> 
  <div class="nav-placeholder"> </div>
  <div class="home-wrapper layout-for-sidebar">
      <div class="sidebar">
            <div class="my-snippets selected"><a href="/home">My snippets</a></div>
            <div class="find-friends "><a href="/find-friends">Find friends</a></div>
            <div class="discover "><a href="/discover">Discover</a></div>
            {{!-- <div class="resources"><a href="/resources"> Resources</a></div> --}}
      </div>
        {{!-- Main content starts here --}}
      <div class="main-content-home">
        <div class="create-snippet-form">          
          <form method="POST" action="/home/{{post.id}}/edit">
            <div class="form-group">
            <label for="editor">Edit your snippet</label>
              <input type="text" name="title" placeholder="Title" value="{{post.title}}">
              {{#if error}}
              <p class="error">{{error}}</p>
              {{/if}}
              <button class="btn save-edited-snippet-btn btn-primary" type="submit">Save</button>
              <textarea type="text" name="content" class="form-control" id="editor" >{{post.content}}</textarea>
            </div>
          </form>
        </div>

        <div class="snippets-wrapper">
          <ol>
            {{#each user.posts}}
              <li class="line-numbers">
                <label for="snippet">{{this.title}}</label>
                <pre><code class="language-javascript" id="snippet">{{this.content}}</code></pre>
              </li>
            {{/each}}
          </ol>
        </div>

    </div>   
  </div>

  <script src="/js/prism.js"></script>