<section class="home-page">
  <nav class="discover-nav">
    <div class="user-info">
        <div class="user-image-wrapper">
            <img src="{{imageUrl}}"  alt="user-pic">
        </div>
        <a href="/myprofile" class="user-link">{{username}}</a>
    </div>
    <div class="snippet-search-bar">
        <form class="search-snippet-form" method="GET" action="/find-friends">
          <input type="text" name="user" placeholder="Search Users">
          <button type="submit">Search</button>
        </form>
         <form class="search-snippet-form" action="/find-friends">
         <button type="submit">Clear</button>
         </form>
    </div>
    <div class="logo-wrapper">
      <p>Logout</p> 
      <a href="/logout"><img src="/images/exit_PNG48.png" width="30px" height="30px"  alt="Logout"></a>
    </div>
  </nav> 
  <div class="nav-placeholder"> </div>
  <div class="home-wrapper layout-for-sidebar">
      <div class="sidebar">
            <div class="my-snippets "><a href="/home">My snippets</a></div>
            <div class="find-friends selected"><a href="/find-friends">Find friends</a></div>
            <div class="discover "><a href="/discover">Discover</a></div>
            <div class="resources"><a href="/resources"> Resources</a></div>
      </div>
        {{!-- Main content starts here --}}
      <div class="main-content-home">
        <div class="snippets-wrapper">        
        {{#if searcherr}}
            <p class="error">{{searcherr}}</p>
        {{/if}}
          <ol>
            {{#each users}}
               <li>
                   <a href="/profile/{{this.id}}"><h1>{{this.username}}</h1></a>
               </li>
            {{/each}}
          </ol>
        </div>
      </div>
    </div>   
  </div>

  <script src="/js/prism.js"></script>

</section>