<section class="home-page">
  <nav class="discover-nav">
    <div class="user-info">
        <div class="user-image-wrapper">
            <img src="{{user.imageUrl}}"  alt="user-pic">
        </div>
        <a href="/myprofile" class="user-link">{{username}}</a>
        <div class="my-snippets resp"><a href="/home">Snippets</a></div>
        <div class="find-friends selected resp"><a href="/find-friends">Friends</a></div>
        <div class="discover resp"><a href="/discover">Discover</a></div>

    </div>
    <div class="snippet-search-bar">
        <form class="search-snippet-form" method="GET" action="/find-friends">
          <input type="text" name="user" placeholder="Search Users">
          <button id="search-snippet-button" type="submit"><i class="fas fa-search"></i></button>
        </form>
         <form class="search-snippet-form" action="/find-friends">
         <button id="clear-snippet-search-btn" type="submit">Clear</button>
         </form>
    </div>
    <div class="logo-wrapper">
      <p class="logout">Logout</p> 
      <a href="/logout"><img src="/images/exit_PNG48.png" width="30px" height="30px"  alt="Logout"></a>
    </div>
  </nav> 
  <div class="nav-placeholder"> </div>
  <div class="home-wrapper layout-for-sidebar">
      <div class="sidebar">
            <div class="my-snippets "><a href="/home">My snippets</a></div>
            <div class="find-friends selected"><a href="/find-friends">Find friends</a></div>
            <div class="discover "><a href="/discover">Discover</a></div>
      </div>
        {{!-- Main content starts here --}}
      <div class="main-content-home">
        <div class="create-snippet-form">        
        {{#if searcherr}}
            <p class="error">{{searcherr}}</p>
        {{/if}}
          <ol>
            {{#each users}}
               <li class="profiles">
                   <img class="profile-img" src="{{this.imageUrl}}" alt="{{this.username}} profile pic">
                   <a href="/profile/{{this.id}}" class="users-link"><h1>{{this.username}}</h1></a>
               </li>
               <br>
               <hr>
               <br>
            {{/each}}
          </ol>
        </div>
      </div>
    </div>   
  </div>

  <style>
    .profiles{
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }
    .profile-img{
      border-radius: 180px;
      width: 100px;
      margin-right: 15px;
    }
    .users-link{
      color: #47555e;
    }
    
  </style>

  <script src="/js/prism.js"></script>

</section>