<section class="home-page">
  <nav class="discover-nav">
    <div class="user-info">
      <div class="user-image-wrapper">
        <img src="{{imageUrl}}" alt="user-pic">
      </div>
      <a href="/myprofile" class="user-link">{{username}}</a>
      
    </div>
    <div class="snippet-search-bar">
      <form class="search-snippet-form" method="GET" action="/home">
        <input type="text" name="search" placeholder="Search snippets">
        <button id="search-snippet-button" type="submit"><i class="fas fa-search"></i></button>
      </form>
      <form class="search-snippet-form" action="/home">
        <button id="clear-snippet-search-btn" type="submit">Clear</button>
      </form>
    </div>
    
    <div class="logo-wrapper"> 
      <p>Logout</p> 
      <a href="/logout"><img src="/images/exit_PNG48.png" width="30px" height="30px"  alt="Logout"></a>
    </div>
  </nav>
  <div class="nav-placeholder"> </div>
  <div class="home-wrapper layout-for-sidebar">
    <div class="sidebar">
      <div class="sidebar-main">
        <div class="my-snippets selected"><a href="/home">My snippets</a></div>
        <div class="find-friends"><a href="/find-friends">Find friends</a></div>
        <div class="discover "><a href="/discover">Discover</a></div>
        <div class="resources"><a href="/resources"> Resources</a></div>
      </div>
      {{!-- <div class="made-by">Made by<a target="_blank" href="/#"> Liliia</a> and <a target="_blank" href="/#"> Kalande</a></div> --}}
    </div>
    {{!-- Main content starts here --}}
    <div class="main-content-home">
      <div class="create-snippet-form">
        <form method="POST" action="/home">
          <div class="form-group">
            <label  for="editor">New snippet</label>
            <input type="text" name="title" placeholder="Title">
            <select name="language" id="languages" class="languages">
              <option value="javascript">JavaScript</option>
              <option value="python">Python</option>
              <option value="html">HTML</option>
              <option value="css">CSS</option>
              <option value="c++">C++</option>
              <option value="shell">Shell</option>
              <option value="typescript">Typescript</option>
              <option value="java">Java</option>
              <option value="php">PHP</option>
              <option value="c#">C#</option>
              <option value="ruby">Ruby</option>
              <option value="c">C</option>
              <option value="swift">Swift</option>
              <option value="r">R</option>
              <option value="objective-c">Objective-C</option>
              <option value="scala">Scala</option>
              <option value="go">Go</option>
              <option value="powershell">PowerShell</option>
              <option value="kotlin">Kotlin</option>
              <option value="rust">Rust</option>
              <option value="perl">Perl</option>
              <option value="sql">SQL</option>
            </select>
            <button class="btn btn-primary" type="submit">Create</button>
            {{#if error}}
            <p class="error">{{error}}</p>
            {{/if}}
            <textarea type="text" name="content" class="form-control" id="editor"></textarea>
          </div>

        </form>
      </div>
      <div class="snippets-wrapper">     

        {{#if searcherr}}
            <p class="error">{{searcherr}}</p>
        {{/if}}
        <ol>
          {{#each user.posts}}
          <form action="/home/{{this._id}}/delete">
            <button class="btn delete-btn btn-primary" type="submit"><i class="far fa-trash-alt"></i></button>
          </form>
          <form action="/home/{{this._id}}/edit">
            <button class="btn edit-btn btn-primary" type="submit"><i class="fas fa-edit"></i></button>
          </form> 
          <li class="line-numbers">
            <label class="snippet-title" for="snippet">{{this.title}} </label>
            <br>
            <label class="snippet-language" for="snippet">{{this.language}}</label>
            <pre> <code class="language-javascript" id="snippet">{{this.content}}</code> </pre>
          </li>
          <p>👍 {{this.likes.length}}  👎 {{this.dislikes.length}}</p>


          <br>
          <br>
          <br>
          {{/each}}
        </ol>
        <ol>
          {{#each posts}}

          <form action="/home/{{this._id}}/delete">
            <button class="btn delete-btn btn-primary" type="submit"><i class="far fa-trash-alt"></i></button>
          </form>

          <form action="/home/{{this._id}}/edit">
            <button class="btn edit-btn btn-primary" type="submit"><i class="fas fa-edit"></i></button>
          </form>          
          <li class="line-numbers">
            <label for="snippet">{{this.title}}</label>
            <pre> <code class="language-javascript" id="snippet">{{this.content}}</code> </pre>
          </li>
          <p>👍 {{this.likes.length}}  👎{{this.dislikes.length}}</p>


          <br>
          <br>
          <br>
          {{/each}}
        </ol>
      </div>
    </div>

    <script src="/js/prism.js"></script>

</section>