<h1>Welcome to your home page</h1>
 
<form class="login-form" method="GET" action="/home">
        <input type="text" name="search" placeholder="Search Here">
        <button type="submit">Search</button>
</form>
 {{#if searcherr}}
     <p class="error">{{searcherr}}</p>
 {{/if}}

<ol>
  {{#each posts}}
    <li class="line-numbers">
       <label for="snippet">{{this.title}}</label>
      <pre> <code class="language-javascript" id="snippet">{{this.content}}</code> </pre>
    </li>
  <form action="/home/{{this._id}}/delete">
    <button class="btn btn-primary" type="submit">DELETE</button>
  </form>

  {{/each}}
</ol>


<ol>
  {{#each user.posts}}
    <li class="line-numbers">
       <label for="snippet">{{this.title}}</label>
      <pre> <code class="language-javascript" id="snippet">{{this.content}}</code> </pre>
    </li>
  <form action="/home/{{this._id}}/delete">
    <button class="btn btn-primary" type="submit">DELETE</button>
  </form>

  {{/each}}
</ol>

<form method="POST" action="/home">
  <div class="form-group">
  <label for="editor">Your snippet</label>
    <input type="text" name="title" placeholder="Title">
    {{#if error}}
     <p class="error">{{error}}</p>
    {{/if}}
    <textarea type="text" name="content" class="form-control" id="editor" ></textarea>
  </div>
  <button class="btn btn-primary" type="submit">Create</button>
  
</form>



<script src="/js/prism.js"></script>