<section class="profile-page">

    <nav class="discover-nav">
        <div class="user-info">

            <div class="user-image-wrapper">
                <img src="{{user.imageUrl}}"  alt="user-pic">
            </div>
            <a href="/myprofile" class="user-link selected">{{user.username}}</a>
        </div>
        <div class="logo-wrapper">
      <p>Logout</p> 
      <a href="/logout"><img src="/images/exit_PNG48.png" width="30px" height="30px"  alt="Logout"></a>
        </div>
    </nav> 
    <div class="nav-placeholder"> </div>
    <div class="discover-wrapper layout-for-sidebar">
        <div class="sidebar">

            <div class="my-snippets "><a href="/home">My snippets</a></div>
            <div class="find-friends "><a href="/find-friends">Find friends</a></div>
            <div class="discover "><a href="/discover">Discover</a></div>
            <div class="resources"><a href="/resources"> Resources</a></div>
        </div>

    <div class="main-content-profile">
        <h2 class="my-profile">My profile</h2>
        <div class="user-info-div">
            <div class="profile-picture">
                <h5>Profile picture</h5>
                <div class="profile-image-wrapper">
                    <img src="{{user.imageUrl}}" alt="user picture">
                </div>
                <form method="POST" class="upload-picture" action="/upload" enctype="multipart/form-data">
                    <label class="upload-picture-label"> 
                        <input type="file" name="imageUrl" accept="image/png, image/jpg">
                        Choose
                    </label>
                    <button class="upload-button" type="submit">Upload</button> 
                </form> 
            </div>
            <form class="update-info-form" method="POST" action="/myprofile">
                <p>Username</p>
                <input type="text" name="username" placeholder="Enter your username" value="{{user.username}}">
                <p>Email</p>
                <input type="text" name="email" placeholder="Enter your email" value="{{user.email}}">
                <p>Password</p>
                <input type="password" name="password" placeholder="Create new password">
                <div class="about">
                    <p>About</p>
                    <textarea name="about" placeholder="Tell us about yourself" value="{{user.about}}"> </textarea>{{!-- UPDATE HERE --}}
                    <button type="submit">Submit</button>
                </div>
                {{#if error}}
                <p class="error">{{error}}</p>
                {{/if}}
            </form>
        </div>
        
        
        <h2 class="my-followers">Followers</h2>
        <div class="following-and-followers">
            <div class="following">
                <h3>Following</h1>
                <ol>
                {{#each user.following}}
                    <li><a href="/profile/{{this._id}}"><h2>{{this.username}}</h2></a></li>
                {{/each}}
                </ol>
            </div>

            <div class="folowers">
                <h3>Followers</h1>
                <ol>
                {{#each user.followers}}
                    <li><a href="/profile/{{this._id}}"><h2>{{this.username}}</h2></a></li>
                {{/each}}
                </ol>
            </div>
        </div>
    </div>

</section>