<section class="profile-page">

    <nav class="discover-nav">
        <div class="user-info">

            <div class="user-image-wrapper">
                <img src="{{user.imageUrl}}"  alt="user-pic">
            </div>
            <a href="/myprofile" class="user-link selected">{{user.username}}</a>
        </div>
        <div class="logo-wrapper">
      <p>Logout</p> 
      <a href="/logout"><img src="/images/exit_PNG48.png" width="30px" height="30px"  alt="Logout"></a>
        </div>
    </nav> 
    <div class="nav-placeholder"> </div>
    <div class="discover-wrapper layout-for-sidebar">
        <div class="sidebar">

            <div class="my-snippets "><a href="/home">My snippets</a></div>
            <div class="find-friends "><a href="/find-friends">Find friends</a></div>
            <div class="discover "><a href="/discover">Discover</a></div>
            <div class="saved-snippets"><a href="/saved"> Saved Snippets</a></div>
        </div>

    <div class="main-content-profile">
        <h2 class="my-profile">My profile</h2>
        <div class="user-info-div">
            <div class="profile-picture">
                <h5>Profile picture</h5>
                <div class="profile-image-wrapper">
                    <img src="{{user.imageUrl}}" alt="user picture">
                </div>
                <form method="POST" class="upload-picture" action="/upload" enctype="multipart/form-data">
                    <label class="upload-picture-label"> 
                        <input type="file" name="imageUrl" accept="image/png, image/jpg">
                        Choose
                    </label>
                    <button class="upload-button" type="submit">Upload</button> 
                </form> 
            </div>
            <form class="update-info-form" method="POST" action="/myprofile">
                <p>Username</p>
                <input type="text" name="username" placeholder="Enter your username" value="{{user.username}}">
                <p>Email</p>
                <input type="text" name="email" placeholder="Enter your email" value="{{user.email}}">
                <p>Password</p>
                <input type="password" name="password" placeholder="Create new password">
                <div class="about">
                    <p>About</p>
                    <textarea name="about" placeholder="Tell us about yourself" >{{user.about}}</textarea>
                    <button type="submit">Submit</button>
                </div>
                {{#if error}}
                <p class="error">{{error}}</p>
                {{/if}}
            </form>
        </div>
        
        
        <h2 class="my-followers">Followers</h2>
        <div class="following-and-followers">
            <div class="followers">
                <ol>
                {{#each user.followers}}
                    <br>
                    <div class="users">
                    <img class="user-img" src="{{this.imageUrl}}" alt="profile">
                    <a href="/profile/{{this._id}}"><h2>{{this.username}}</h2></a>
                    </div>
                    <br>
                {{/each}}
                </ol>
            </div>

        </div>        
        <h2 class="my-following">Following</h2>
        <div class="following">
            <div>
                <ol>
                {{#each user.following}}
                    <br>
                    <div class="users">
                    <img class="user-img" src="{{this.imageUrl}}" alt="profile">
                    <a href="/profile/{{this._id}}"><h2>{{this.username}}</h2></a>
                    </div>
                    <br>
                {{/each}}
                </ol>
            </div>
        </div>
    </div>

    <style>
        .user-img{
            width:5%;
            border-radius: 20px;
            margin-right: 10px;
            margin-left: 10px;
        }
        .users{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            color: #47555e;
        }
        a{
            text-decoration: none;
        }
    </style>

</section>