<nav class="discover-nav">
  <div class="user-info">
    <div class="user-image-wrapper">
      <img src="{{user.imageUrl}}" alt="user-pic">
    </div>
    <a href="/myprofile" class="user-link">{{username}}</a>
    <div class="my-snippets resp"><a href="/home">Snippets</a></div>
    <div class="find-friends resp"><a href="/find-friends">Friends</a></div>
    <div class="discover resp"><a href="/discover">Discover</a></div>

  </div>
  <div class="snippet-search-bar">
    <form class="search-snippet-form" method="GET" action="/find-friends">
      <input type="text" name="user" placeholder="Search Users">
      <button id="search-snippet-button" type="submit"><i class="fas fa-search"></i></button>
    </form>
    <form class="search-snippet-form" action="/find-friends">
      <button id="clear-snippet-search-btn" type="submit">Clear</button>
    </form>
  </div>
  <div class="logo-wrapper">
      <p class="logout">Logout</p> 
    <a href="/logout"><img src="/images/exit_PNG48.png" width="30px" height="30px" alt="Logout"></a>
  </div>
</nav>
<div class="nav-placeholder"> </div>
<div class="home-wrapper layout-for-sidebar">
  <div class="sidebar">
    <div class="my-snippets "><a href="/home">My snippets</a></div>
    <div class="find-friends "><a href="/find-friends">Find friends</a></div>
    <div class="discover "><a href="/discover">Discover</a></div>
  </div>
  {{!-- Main content starts here --}}
  <div class="main-content-home">
    <div class="profiles">
      <div>
        <img class="profile-img" src="{{user.imageUrl}}" alt="Profile pic">
      </div>
      <div class="username">
        <h1>{{user.username}}</h1>
        <br>
        <p>{{user.email}}</p>
        {{#if following}}
        <form class="search-snippet-form" method="POST" action="/profile/{{user._id}}/unfollow">
          <button class="follow" type="submit">Unfollow</button>
        </form>
        {{else}}
        <form class="search-snippet-form" method="POST" action="/profile/{{user._id}}">
          <button class="follow" type="submit">Follow</button>
        </form>
        {{/if}}
      </div>
    </div>
    <div class="create-snippet-form">
      <h1>About Me</h1>
      <hr>
      <br>
      <p class="description">{{user.about}}</p>
    </div>
    <div class="snippets-wrapper">
      {{#if searcherr}}
      <p class="error">{{searcherr}}</p>
      {{/if}}
      <h1>My Snippets</h1>
      <hr>
      <br>
      {{#if following}}
      <ol>
        {{#each user.posts}}
        <form method="POST" action="/profile/{{this._id}}/save">
            <button class="btn delete-btn btn-primary" type="submit"><i class="fas fa-cloud-download-alt"></i></button>
          </form>
          <br>
        <li class="line-numbers">
          <label class="snippet-title" for="snippet">{{this.title}}</label>
          <pre> <code class="language-javascript" id="snippet">{{this.content}}</code> </pre>
        </li>
        <div class="profiles">
          <form method="POST" action="/profile/{{this._id}}/like">
              <button class="react-btn" type="submit">👍 {{this.likes.length}}</button>   
          </form>
          <form method="POST" action="/profile/{{this._id}}/dislike">
            <button class="react-btn" type="submit">👎 {{this.dislikes.length}}</button>
          </form>
        </div>
        <br>
        <br>
        {{/each}}
      </ol>
      {{else}}
      <div class="lock">
        <img class="lock-img" src="/images/lock.png" alt="lock">
        <br>
        <p>Follow {{user.username}} to see snippets</p>
      </div>
      {{/if}}
    </div>
  </div>
</div>
</div>

<style>
  .profiles {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .profile-img {
    border-radius: 180px;
    margin-right: 15px;
    width: 200px;
    margin-left: 30px;
  }

  .follow {
    margin-top: 10px;
    background: none;
    border: 2px solid rgb(203, 103, 21);
    width: 60px;
    height: 30px;
    color: rgb(227, 168, 120);
  }

  .follow:hover {
    cursor: pointer;
  }

  .username {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .lock-img {
    width: 30%;
    border: 2px solid #47555e;
    border-radius: 150px;
  }

  .lock {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .react-btn {
    background: none;
    font-size: larger;
    margin-left: 10px;
    border-radius: 5px;
    outline: none;
    border: none;
  }
  .react-btn:hover{
    cursor: pointer;
  }
  .description{
    font-size: larger;
  }
</style>

<script src="/js/prism.js"></script>